<!-- <app-header (emitPage)="changePage($event)"></app-header>



<div [ngSwitch]="page" class="container" style="margin-top: 15px;">
  <h2 *ngSwitchDefault>Estou na página de Home</h2>
  <h2 *ngSwitchCase="'precos'">Estou na página de Preços</h2>
  <h2 *ngSwitchCase="'info'">Estou na página de Informações</h2>
  <app-captalise-example *ngSwitchCase="'auto-captalize'"></app-captalise-example>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <app-list></app-list>
    </div>
  </div>
</div> -->
<!-- <app-modal>
  <p description>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus similique perspiciatis, iure exercitationem iste laudantium facere porro! Provident tempore, velit soluta sunt minima animi commodi facilis aliquid necessitatibus nihil reprehenderit!</p>
</app-modal> -->
<div class="container">
  <app-content-example>
    <h5 title class="card-title  text-white ">Mussum</h5>
    <h5 class="card-header text-white " sub-title>Mussum-ipsum</h5>
    <p class="card-text" content>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</p>
  </app-content-example>
</div>
