<!-- <app-header (emitPage)="changePage($event)"></app-header>



<div [ngSwitch]="page" class="container" style="margin-top: 15px;">
  <h2 *ngSwitchDefault>Estou na página de Home</h2>
  <h2 *ngSwitchCase="'precos'">Estou na página de Preços</h2>
  <h2 *ngSwitchCase="'info'">Estou na página de Informações</h2>
  <app-captalise-example *ngSwitchCase="'auto-captalize'"></app-captalise-example>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <app-list></app-list>
    </div>
  </div>
</div> -->


<app-modal></app-modal>